<%# <p style="color: green"><%= notice %>
<div class="card" id="card-comentari">
<%= render @publish %>

<div>
<% if @publish.user_id == current_user.id %>
    <div class="row" id="btnPublish_id">
      <div class="col-md-2">
        <%= link_to "Editar publicacion", edit_publish_path(@publish), class: 'btn btn-secondary', id:'btnEdit_p' %>
      </div>
      <div class="col-md-2">
        <%= button_to "Eliminar publicacion", @publish, method: :delete, class: 'btn btn-secondary', id:'btnDelete_p' %>
      </div>
       <div class="col-md-2">
          <%= link_to "Regresar", publishes_path, class: 'btn btn-secondary', id:'btnBack_p' %>
       </div>
    </div>   
  <% else  %>
    <div class="row" id="btnPublish_id">
      <%= link_to "Regresar a inicio", publishes_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>

<div class="card-body">
  <hr>
    <h4 class="card-title"><center>Comentarios</center></h4>
  <hr>
    <div class='mt-3'>
      <% @comments.each do |coments|  %> 
        <div class="card text-bg-light mb-3" style="max-width: 100%;">
            <div class="card-body">
              <p class="card-text"><%= coments.body %></p>
              <p id="create"><strong>Commented ago:</strong> <%= time_ago_in_words(coments.created_at)%></p>
              <p id="create"><strong>Created by:</strong> <%= coments.user.username %></p>
            </div>
          </div>
      <% end %>
      <%= paginate @comments, id:'paginate',  style: "max-width: 100%;" %>
        </div>             
    </div>
</div>
</div>
 


